footer {
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 2em;
  margin-top: 1em;
  align-items: center;
}

.social-media i {
  font-size: 2em;
  margin: 0 0.1em;
}
