/* welcome */

#welcome p {
  margin-left: 0.3em;
}

#welcome h2 {
  text-align: right;
  font-size: 3rem;
  max-width: 50%;
  margin-right: 0;
}

/* projects */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

td {
  padding-right: 1em;
  vertical-align: top;
}

#about h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
/* contact */

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.projects-wrapper {
  gap: 3rem;
  /* padding: 3rem; */
}
#contact p {
  text-align: center;
  margin: 1rem auto;
}

#about,
#contact {
  max-width: 600px;
}

@media (min-width: 800px) {
  #welcome {
    margin: 0;
  }
  /* .projects-wrapper {
    flex-direction: row;
  } */
}
