.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
  opacity: 0;
}
.from-right {
  transform: translateX(50%);
  opacity: 0;
}

.from-right,
.from-left {
  transition: opacity 250ms ease-in, transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}
