* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color_black);
  font-size: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

img {
  width: 100%;
  height: auto;
  /* aspect-ratio: attr(width) / attr(height); */
}

a {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Rampart One", sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
}
h1 {
  font-size: 3rem;
  margin: 0;
  /* max-width: 50%; */
  text-align: left;
}

h2 {
  font-size: 2rem;
  margin: 2rem auto;
  text-align: center;
}
h3 {
  font-size: 1rem;
  margin: 0.5rem auto;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.current {
  text-decoration: underline;
}

p,
li {
  line-height: 1.7;
}

li {
  margin-left: 1rem;
}
section {
  display: block;
  margin: 0 auto;
  padding-top: 5%;
  transition: all 1s ease-in-out;
  /* min-height: 90vh; */
}

.social-media i {
  font-size: 2rem;
  margin: 0 0.1rem;
}

.up-btn-wrap {
  text-align: center;
  margin-top: 2rem;
}
.up-btn {
  display: block;
  font-size: 2rem;
  text-decoration: overline;
  margin: auto;
  width: 2rem;
  height: auto;
}

.up-btn:hover {
  color: orange;
}
@media (min-width: 800px) {
  * {
    font-size: 22px;
  }

  main {
    padding: 0 3rem;
  }
  h1 {
    padding: 0;
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
    margin: 3rem auto;
  }
}
