header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: var(--color_blue);
  padding: 0.5rem;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
  text-align: right;
  background-color: #fff;
}

#logo {
  position: absolute;
  right: 0;
  color: var(--color_blue);
}

.logo:hover {
  background-color: bisque;
}

nav {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  z-index: 1;
  padding: 20px 20px;
  flex-direction: column;
  align-items: baseline;
  transition: all 0.5s ease-in-out;
  background: var(--color_blue);
}

nav a {
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

nav a:hover {
  background-color: var(--color_blue);
  color: bisque;
}

@media (min-width: 800px) {
  header {
    padding: 0.5rem;
    margin: auto;
  }
  nav {
    position: static;
    display: flex;
    flex-direction: row;
    top: 0px;
    gap: 2rem;
    border: none;
    padding: 0;
  }

  .logo {
    height: 60px;
    width: 60px;
  }
  #logo {
    font-size: 1.3rem;
  }
}
