header {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--color_blue);
  z-index: 10;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
  text-align: right;
  border: solid 2px #fff;
  background-color: #fff;
}

#logo {
  position: absolute;
  right: 0;
  color: var(--color_blue);
}

.logo:hover {
  background-color: #fff;
}

.logo:hover > #logo {
  color: var(--color_blue);
}

nav {
  position: absolute;
  top: 50px;
  right: 1rem;
  display: none;
  z-index: 1;
  padding: 20px 20px;
  flex-direction: column;
  align-items: baseline;
  border: 1px solid var(--color_blue);
  transition: all 0.5s ease-in-out;
}

nav a {
  padding: 0.5rem;
  text-transform: uppercase;
}

nav a:hover {
  font-style: italic;
  background-color: var(--color_blue);
  color: #fff;
  /* transform: translateX(-1.1rem); */
}

@media (min-width: 800px) {
  header {
    padding: 1rem;
  }
  nav {
    position: inherit;
    display: flex;
    flex-direction: row;
    top: 0px;
    gap: 2rem;
    border: none;
  }

  /* #nav-button {
    display: none;
  } */

  .logo {
    height: 80px;
    width: 80px;
  }
  #logo {
    font-size: 1.5rem;
  }
}
