main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5%;
}

/* welcome */
#welcome {
  min-height: 100vh;
  display: flex;
  max-width: 800px;
  margin: auto;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
}

.title {
  text-align: center;
  margin: auto;
}

.summary {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

/* projects */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* About */

#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(1, 100px 1fr);
  gap: 2rem;
  align-items: first baseline;
}

#about p {
  font-size: 0.8rem;
}

.about-grid h3 {
  font-size: 1rem;
  grid-column: 1/2;
  text-align: end;
  margin-top: 1rem;
  margin: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 0.8rem;
}
/* contact */

.social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.projects-wrapper {
  gap: 4rem;
}
#contact p {
  text-align: center;
  margin: 1rem auto;
}

#about,
#contact {
  max-width: 800px;
}

@media (min-width: 800px) {
  #welcome {
    display: flex;
  }

  .about-grid {
    grid-template-columns: repeat(1, 200px 1fr);
  }
}
