/* welcome */
.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: auto;
  gap: 1rem;
}

.title {
  text-align: center;
  margin: auto;
}

.summary {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

/* projects */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

td {
  padding-right: 1em;
  vertical-align: top;
  padding-bottom: 1rem;
}

td > p {
  line-height: 1rem;
}
#about h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
/* contact */

.social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.projects-wrapper {
  gap: 4rem;
}
#contact p {
  text-align: center;
  margin: 1rem auto;
}

#about,
#contact {
  max-width: 600px;
}

@media (min-width: 800px) {
  #welcome {
    margin: 0;
    min-height: 50vh;
    display: flex;
  }
  .title {
    text-align: end;
  }

  .projects-wrapper {
    flex-direction: row;
    gap: 8rem;
  }
}
