.emoji,
#welcome p {
  display: inline-block;
}

.emoji {
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: 5;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-media a:hover {
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: 2s;
}
